*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: lightgrey;
font-family: 'Roboto', sans-serif;
overflow-y:hidden;
}

i {
cursor: pointer;
font-size: 25px;
color: #77787B;
}

img {
width: 50px;
height: 50px;
border-radius: 50%;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
}

input::placeholder {
  font-size: 15px;
}

.border {
width: 100%;
height: 120px;
background-color: #009987;
position: absolute;
top: 0;
left: 0;
}

.container {
width: 90%;
height: 95vh;
background-color: white;
margin: auto;
margin-top: 30px;
border-radius: 2px;
box-shadow: 5px 5px 2px #dedede;
}

.column_left, .column_right {
float: left;
}

.column_left {
width: 40%;
height: 100%;
}

.column_right {
width: 60%;
height: 100%;
}

/* style column left */

.profile, .header_info, .footer {
width: 100%;
height: 10%;
background-color: #EFEFEF;
}

.profile_left, .profile_right {
float: left;
padding: 10px 20px;
}

.profile_left {
width: 70%;
height: 100%;
}


.profile_right {
width: 30%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-right: 1px solid #77787B;
}

.profile_right > i {
text-align: left;
margin-left: 20px;
}

.search_wrapper {
width: 100%;
height: 10%;
background-color: #FCFBFC;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid lightgrey;
}

.search {
width: 90%;
height: 90%;
background-color: white;
border: 1px solid lightgrey;
}

.search_icon, .search_input {
float: left;
}

.search_icon {
width: 20%;
height: 100%;
padding: 20px;
display: flex;
align-items: center;
}

.search_input {
width: 80%;
height: 100%;
}

.chat {
width: 100%;
height: 10%;
background-color: white;
padding: 10px 20px;
border-bottom: 1px solid lightgrey;
cursor: pointer;
}

.chat:hover {
background-color: #E8EAEC;
}

.chat_logo, .chat_text, .chat_hour {
float: left;
}

.chat_logo {
width: 20%;
height: 100%;
}

.chat_text {
width: 60%;
height: 100%;
}

.chat_text h3 {
font-size: 20px;
padding-bottom: 5px;
}

.chat_text p {
font-size: 12px;
overflow: hidden;
text-overflow: "...";
white-space: nowrap;
}

.chat_hour {
width: 20%;
height: 100%;
text-align: right;
}

.chat_hour > span {
font-size: 12px;
}

/* style column right */

.header_logo, .header_text, .header_icons {
  float: left;
}

.header_logo {
  width: 15%;
  height: 100%;
  padding: 10px 20px;
}

.header_text {
  width: 65%;
  height: 100%;
  padding: 10px;
}

.header_text > h3 {
  font-size: 25px;
}

.header_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header_icons > i {
  margin: 20px;
}
/* contenuto centrale */
.main_content {
  width: 100%;
  height: 80%;
  background-color: #E6DDDA;
  overflow-y: scroll;
}
/* footer */


.footer_icons, .footer_enter {
  width: 15%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_input {
  width: 70%;
  height: 100%;
  float: left;
  padding: 10px 0;
}

/* messaggi */
.green_message, .white_message {
  width: 55%;
  margin: 5px;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
}
.green_message {
  background-color: #DBF7C5;
  float: right;
}

.green_message > span,
.white_message > span {
  font-size: 10px;
  text-align: right;
  display: block;
}

.white_message {
  background-color: white;
  float: left;
}

.green_message_new {
  width: 55%;
  margin: 5px;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #DBF7C5;
  float: right;
}
